extends layout

block content
	.index-page
		.page-header.clear-filter(filter-color="orange")
			.page-header-image(data-parallax="true", style="background-image: url('./images/fondoperfil.png');")
			.container
				.content-center.brand
					img.n-logo(src="./images/now-logo.png")
					h1.h1-seo Krilos
					//- h3 A beautilful Bootstrap 4 UI kit. Yours free.
				//- h6.category.category-absolute 
				//- 	| Designed by
				//- 	a(href="#",target="_blank")
				//- 		img.invision-logo(src="./images/invision-white-slim.png")
				//- 	a(href="#",target="_blank")
				//- 		img.creative-tim-logo(src="./images/creative-tim-white-slim2.png")
		//- .main
		//- 	.section.section-images
		//- 		.container
		//- 			.row
		//- 				.col-md-12
		//- 					.hero-images-container
		//- 						img(src="./images/hero-image-1.png", alt="")
		//- 					.hero-images-container-1
		//- 						img(src="./images/hero-image-2.png", alt="")
		//- 					.hero-images-container-2
		//- 						img(src="./images/hero-image-3.png", alt="")
		//- 	.section.section-basic
		//- 		.container
		//- 			h3.title Basic Elements
		//- 			#buttons
		//- 				h4 Buttons
		//- 				p.category Pick your style
		//- 				.row
		//- 					.col-md-10
		//- 						button.btn.btn-primary(type="button") Default
		//- 						button.btn.btn-primary.btn-round(type="button") Round
		//- 						button.btn.btn-primary.btn-round(type="button")
		//- 							i.now-ui-icons.ui-2_favourite-28
		//- 							| With Icon 
		//- 						button.btn.btn-primary.btn-round(type="button")
		//- 							i.now-ui-icons.ui-2_favourite-28
		//- 						button.btn.btn-primary.btn-simple.btn-round(type="button") Simple
