doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no')

		link(rel='apple-touch-icon', sizes='76x76', href='./img/apple-icon.png')
		link(rel='icon', type='image/png', href='./img/favicon.png')
		
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200')
		link(rel='stylesheet', href='./bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='./font-awesome/css/font-awesome.min.css')
		
		//- link(rel='stylesheet', href='./bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
		//- link(rel='stylesheet', href='./bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
		//- link(rel='stylesheet', href='./nouislider/distribute/nouislider.min.css')

		link(rel='stylesheet', href='./stylesheets/now-ui-kit.css?v=1.1.0')
		link(rel='stylesheet', href='./stylesheets/style.css')
		
		title=title

	body.sidebar-collapse
		<!-- Navbar -->
		nav.navbar.navbar-expand-lg.bg-white.fixed-top(color-on-scroll="400",color-on="false")
			.container-fluid
				.navbar-translate
					button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navigation",aria-controls="navigation-index",aria-expanded="false",aria-label="Toggle navigation")
						span.navbar-toggler-bar.bar1.bg-danger
						span.navbar-toggler-bar.bar2.bg-danger
						span.navbar-toggler-bar.bar3.bg-danger
					.d-flex.p-2.align-items-center.ml-2.mr-auto
						span.d-none.d-md-block.d-lg-block.d-xl-block Hoy es Jueves 25 enero del 2018
					ul.nav.d-flex.justify-content-end
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
								i.now-ui-icons.ui-1_email-85.align-bottom
								span.badge.badge-light.bg-info.align-top.text-white 9
							.dropdown-menu.dropdown-custom.bg-white.dropdown-newsmessage
								h6.dropdown-header Tienes 5 mensajes
								.dropdown-divider
								.content
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
									a.dropdown-item(href="#") Action
								.dropdown-divider
								a.dropdown-item.text-center(href="#") Ver todos los mensajes
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
								i.now-ui-icons.ui-1_bell-53.align-bottom
								span.badge.badge-light.bg-warning.align-top.text-white 9
							.dropdown-menu.dropdown-custom.bg-white.dropdown-notifications
								h6.dropdown-header.text-uppsercase.d-inline-block Notificaciones
								span.badge.badge-warning.text-white.float-right.mr-4.mt-1 New
								.dropdown-divider
								.content
									a.dropdown-item.p-1(href="#") 
										img.rounded-circle.d-inline-block.p-2(src="./images/ryan.jpg",style="width: 50px;height: 50px;")
										.d-inline-block.w-75.px-2.align-middle
												b You have new order!
												br
												p.text-truncate.w-75 Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, natus?
												br
												span.text-muted.px-1 30 minutes ago
									a.dropdown-item.p-1(href="#") 
										img.rounded-circle.d-inline-block.p-2(src="./images/ryan.jpg",style="width: 50px;height: 50px;")
										.d-inline-block.w-75.px-2.align-middle
												b You have new order!
												br
												p.text-truncate.w-75 Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, natus?
												br
												span.text-muted.px-1 30 minutes ago
									a.dropdown-item.p-1(href="#") 
										img.rounded-circle.d-inline-block.p-2(src="./images/ryan.jpg",style="width: 50px;height: 50px;")
										.d-inline-block.w-75.px-2.align-middle
												b You have new order!
												br
												p.text-truncate.w-75 Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, natus?
												br
												span.text-muted.px-1 30 minutes ago
									a.dropdown-item.p-1(href="#") 
										img.rounded-circle.d-inline-block.p-2(src="./images/ryan.jpg",style="width: 50px;height: 50px;")
										.d-inline-block.w-75.px-2.align-middle
												b You have new order!
												br
												p.text-truncate.w-75 Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, natus?
												br
												span.text-muted.px-1 30 minutes ago
									a.dropdown-item.p-1(href="#") 
										img.rounded-circle.d-inline-block.p-2(src="./images/ryan.jpg",style="width: 50px;height: 50px;")
										.d-inline-block.w-75.px-2.align-middle
												b You have new order!
												br
												p.text-truncate.w-75 Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, natus?
												br
												span.text-muted.px-1 30 minutes ago
								.dropdown-divider
								a.dropdown-item.text-center(href="#") Ver todos las notificaciones
						li.nav-item.dropdown
							a.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
								i.now-ui-icons.users_single-02.px-2
								span(style="color: #888;") Jocelyn Razo
							.dropdown-menu.dropdown-custom.bg-white
								a.dropdown-item(href="#") Action
								a.dropdown-item(href="#") Action
								a.dropdown-item(href="#") Action
				#navigation.collapse.navbar-collapse.justify-content-end(data-nav-image="./images/KRILLOS.jpg", filter-color="black")
					a.navbar-brand.text-center(href="/",style="display: block;")
						img(src="./images/logo.png", alt="")
					.navbar-brand.m-0.px-5.mb-3
						img.rounded-circle.d-inline-block.w-25(src="./images/ryan.jpg")
						.d-inline-block.px-2(style="vertical-align: middle;")
							span
								b.text-white Ryan
								br
								.online.bg-success.rounded-circle.d-inline-block(style="width: 10px;height: 10px;")
								span.text-white.px-1 En Linea
					ul.navbar-nav(data-accordion)
						li.nav-item
							a.nav-link(href="/dashboard")
								i.now-ui-icons.business_chart-pie-36
								p Home
						li.nav-item.root
							a.nav-link(href="/prospector")
								i.now-ui-icons.users_circle-08
								p Prospectos
							ul.sub-menu
								li.nav-item
									a.nav-link(href="/list-prospector")
										i.now-ui-icons.users_circle-08
										p Todos los Prospectos
								li.nav-item
									a.nav-link(href="/add-prospector")
										i.now-ui-icons.design-2_ruler-pencil.pr-1
										p Agregar Prospecto
								li.nav-item
									a.nav-link(href="/summary-prospector")
										i.now-ui-icons.files_single-copy-04
										p Resumen de Prospecto
						li.nav-item
							a.nav-link(href="/citas")
								i.now-ui-icons.files_paper
								p Citas
						li.nav-item
							a.nav-link(href="/summary")
								i.now-ui-icons.files_single-copy-04
								p Resumen de citas
		<!-- End Navbar -->
		<!-- Wrapper -->
		.wrapper
			block content
		<!-- End Wrapper -->
		<!-- Footer -->
		//- footer.footer.fixed-bottom(data-background-color="blue")
			.container
				nav.d-flex.float-none.float-sm-left.text-center
					ul
						li
							a.text-muted(href="#") Elitus
						li
							a.text-muted(href="#") Operativo
						li
							a.text-muted(href="#") Empresa
						li
							a.text-muted(href="#") Partner
						li
							a.text-muted(href="#") Menú General
				.copyright.text-muted.pt-2.pt-sm-0.text-center.text-sm-center
					| &copy;
					| &nbsp;
					script document.write(new Date().getFullYear()) 
					| &nbsp;
					| Vleeko | Correo Corporativo
		<!-- End Footer -->
		#addprospector.modal.fade(tabindex="1",role="dialog")
			.modal-dialog.modal-lg.modal-dialog-centered(role="document")
				.modal-content
					.modal-header.bg-warning.text-white.p-4
						.modal-title 
							h5.modal-title Se ha agendado una nueva cita para el día Martes 6 de febrero del 2018
							button.close(type="button",data-dismiss="modal")
								span(aria-hidden="true") &times;
					.modal-body
						.table-responsive
							table.table.table-bordered
								thead.bg-info.text-white
									tr
										th.text-uppercase(scope="col") # Prospecto 
										th.text-uppercase(scope="col") nombre 
										th.text-uppercase(scope="col") teléfono 
										th.text-uppercase(scope="col") dirección 
										th.text-uppercase(scope="col") correo 
										th.text-uppercase(scope="col") agencia 
										th.text-uppercase(scope="col") origen 
										th.text-uppercase(scope="col") producto 
										th.text-uppercase(scope="col") día cita
								tbody
									tr
										td.text-uppercase.text-center  456
										td.text-uppercase.text-center  Francisco javier alvarado
										td.text-uppercase.text-center  2225765466
										td.text-uppercase.text-center  enrique garcia carreto ed.311 int.202
										td.text-uppercase.text-center  etc@gmail.com
										td.text-center 
											img.img-fluid(src="./images/ryan.jpg", alt="", width="50px", height="50px")
										td.text-uppercase.text-center  adwords
										td.text-uppercase.text-center  web & ars
										td.text-uppercase.text-center  06/02/2018
					.modal-footer.justify-content-end
						button.btn.btn-danger(type="button") 
							i.now-ui-icons.ui-1_send.pr-2
							| Enviar correo de confirmacion
		#detailprospertor.modal.fade(tabindex="1",role="dialog")
			.modal-dialog.modal-dialog-centered.modal-lg(role="document")
				.modal-content
					.modal-header.bg-info.text-white.p-3
						.modal-title
							h5.modal-title Detalles de prospecto:
							button.close.p-1(type="button",data-dismiss="modal")
								span(aria-hidden="true") &times;
					form(action="")
						.modal-body
							.row
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									h5.text-black.text-center.m-0 Datos del contacto
									.col
										hr.m-2
										span.text-muted Nombre:
										span.text-uppercase 
											b ING. HUGO JAVIER ALVAREZ
										hr.m-2
										span.text-muted Teléfono:
										span.text-uppercase
											b 36891041
										hr.m-2
										span.text-muted Día de solicitud:
										span.text-uppercase
											b 16/06/1998
										hr.m-2
										span.text-muted Unidad de negocio:
										span.text-uppercase
											b Vleeko
										hr.m-2
										span.text-muted Producto de interés:
										span.text-uppercase
											b Página web
										hr.m-2
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
									.row
										span.col(style="line-height: 4;") Asistió a la cita
										.col
											button.btn.btn-primary.text-white(type="button") Si
											button.btn.btn-default.text-white(type="button") No
									.row
										span.col(style="line-height: 4;") Contrató
										.col
											button.btn.btn-primary.text-white(type="button") Si
											button.btn.btn-default.text-white(type="button") No
									.row
										.col-12
											.dropdown
												button.btn.btn-danger.btn-block.dropdown-toggle.text-left(type="button",data-custom-dropdown='max-width',aria-expanded="false") ¿Qué Contrato? 
												.dropdown-menu
													a.dropdown-item Action
													.dropdown-d
														a.dropdown-item(data-custom-dropdown,aria-expanded="false") Other Action
														.dropdown-custom-menu
															a.dropdown-item Action
															a.dropdown-item Action
															a.dropdown-item Action
															a.dropdown-item Action
													a.dropdown-item Action
													a.dropdown-item Action
										.col-12.mt-4
											.dropdown
												button.btn.btn-danger.btn-block.dropdown-toggle.text-left(type="button",data-custom-dropdown='max-width',aria-expanded="false") ¿Por que no contrato? 
												.dropdown-menu
													a.dropdown-item Action
													.dropdown-d
														a.dropdown-item(data-custom-dropdown,aria-expanded="false") Other Action
														.dropdown-custom-menu
															a.dropdown-item Action
															a.dropdown-item Action
															a.dropdown-item Action
															a.dropdown-item Action
													a.dropdown-item Action
													a.dropdown-item Action
								.col-12.mt-4
									.form-group
										label.text-muted ¿Deseas agregar un comentario?
										textarea.form-control(name="", placeholder="Escribe tu comentario aquí...")
								.col-12.row
									button.col-12.col-sm-12.col-md-5.col-lg-5.col-xl-5.btn.btn-warning.text-white.m-0.my-5(type="button")
										i.now-ui-icons.files_paper.pr-1
										| Adjuntar contrato
									.col-2.d-none.d-sm-block.d-md-block.d-lg-block.d-xl-block
									button.col-12.col-sm-12.col-md-5.col-lg-5.col-xl-5.btn.btn-warning.text-white.m-0.my-5(type="button") 
										i.now-ui-icons.files_paper.pr-1
										| Adjuntar brief de agente
						button.btn.btn-info.modal-footer.btn-block.justify-content-center.m-0.p-3.rounded-0(type="submit",style="border-top-left-radius: 0;border-top-right-radius: 0;") 
							i.now-ui-icons.ui-1_send.mx-1
							| Enviar
		#exampleModal.modal.fade.modal-primary
			.modal-dialog.modal-dialog-centered
				.modal-content
					.modal-header.justify-content-center
						button.close(type="button",data-dismiss="modal",aria-hidden="true")
							i.now-ui-icons.ui-1_simple-remove
						h4.title.title-up Modal Title
					.modal-body
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum consectetur harum optio. Officiis dolore incidunt error perferendis architecto quisquam esse repellendus inventore commodi facilis quibusdam unde mollitia id voluptas veritatis qui, consectetur, necessitatibus, ipsum amet molestias in veniam dolorem eos? Sit reiciendis, ab natus quas distinctio expedita doloremque fugiat maxime dolorum tempora ad nihil labore. Aspernatur aut neque, ex consequatur impedit tempora recusandae voluptate alias. Similique quas est consequatur fugit accusamus consectetur voluptatem at soluta maxime, amet laudantium eos! Aliquam maxime quas repudiandae enim velit sequi ad laboriosam, fugiat, temporibus illum, molestias hic minima iste? Eligendi voluptatem similique architecto eaque?
					.modal-footer
						button.btn.btn-default(type="button") Boton
						button.btn.btn-danger(type="button", data-dismiss="modal") Cerrar
		#exampleModalMini.modal.fade.modal-mini.modal-primary
			.modal-dialog.modal-dialog-centered
				.modal-content
					.modal-header.justify-content-center
						.modal-profile
							i.now-ui-icons.users_circle-08
					.modal-body
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, numquam!
					.modal-footer
						button.btn.btn-link.btn-neutral(type="button") Neutral
						button.btn.btn-link.btn-neutral(type="button", data-dismiss="modal") Cerrar
		script(src='./jquery/dist/jquery.min.js', type='text/javascript')
		script(src='./popper.js/dist/umd/popper.min.js', type='text/javascript')
		script(src='./bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
		script(src='./bootstrap-switch/dist/js/bootstrap-switch.min.js', type='text/javascript')
		script(src='./nouislider/distribute/nouislider.min.js', type='text/javascript')
		script(src='./bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js', type='text/javascript')
		script(src='./javascripts/now-ui-kit.js', type='text/javascript')
		script(src="./javascripts/app.js")