extends ../layout

block content
	.section.mt-0
		.container-fluid
			.row
				.col-12.px-3.mt-4
					.col.py-5.px-5(data-image="./images/KRILLOS.jpg", filter-color="black", style="box-shadow: inset 0 0 0 10000px rgba(0, 0, 0, 0.5);")
						h4.m-0.text-white.text-capitalize Agregar Prospecto
					.col.p-4.bg-white
						form.col(action="")
							.row.justify-content-center.mb-5
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Nombre:
										input.form-control(type="text",placeholder="Nombre:")
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Teléfono:
										input.form-control(type="text",placeholder="Teléfono:")
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Día de solicitud:
										input.form-control.date-picker(type="text",placeholder="Día de solicitud:",data-datepicker-color="primary", value="03/28/1996")
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Dirección:
										input.form-control(type="text",placeholder="Dirección:")
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.form-group
										label.text-muted Correo Electronico:
										input.form-control(type="text",placeholder="Correo Electronico:")
							.row.mt-5
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.dropdown
										button.btn.btn-danger.btn-block.dropdown-toggle.text-left(type="button",data-custom-dropdown='max-width',aria-expanded="false") Unidad de negocios: 
										.dropdown-menu
											a.dropdown-item Action
											.dropdown-d
												a.dropdown-item(data-custom-dropdown,aria-expanded="false") Other Action
												.dropdown-custom-menu
													a.dropdown-item Action
													a.dropdown-item Action
													a.dropdown-item Action
													a.dropdown-item Action
											a.dropdown-item Action
											a.dropdown-item Action
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.dropdown
										button.btn.btn-danger.btn-block.dropdown-toggle.text-left(type="button",data-custom-dropdown='max-width',aria-expanded="false") Origen: 
										.dropdown-menu
											a.dropdown-item Action
											.dropdown-d
												a.dropdown-item(data-custom-dropdown,aria-expanded="false") Other Action
												.dropdown-custom-menu
													a.dropdown-item Action
													a.dropdown-item Action
													a.dropdown-item Action
													a.dropdown-item Action
											a.dropdown-item Action
											a.dropdown-item Action
								.col-12.col-sm-4.col-md-4.col-lg-4.col-xl-4
									.dropdown
										button.btn.btn-danger.btn-block.dropdown-toggle.text-left(type="button",data-custom-dropdown='max-width',aria-expanded="false") Producto de interés: 
										.dropdown-menu
											a.dropdown-item Action
											.dropdown-d
												a.dropdown-item(data-custom-dropdown,aria-expanded="false") Other Action
												.dropdown-custom-menu
													a.dropdown-item Action
													a.dropdown-item Action
													a.dropdown-item Action
													a.dropdown-item Action
											a.dropdown-item Action
											a.dropdown-item Action
								//- .col-12.text-right.mt-5
								//- 	button.btn.btn-danger.text-white(type="submit") Agregar
					.col.bg-white.mt-4.pb-4
						.row.bg-default.p-3
							.col-12.col-sm-8
								h5.m-0.d-inline-block.text-white Asignar al asesor de Marketing Digital
							.col-12.col-sm-4.flex-row.d-flex
								.d-flex.pr-2(style="line-height: 2.5")
									span.text-white Buscar
								.input-group.m-0.d-flex
									input.form-control(type="text",placeholder="Search...")
									.input-group-append
										button.btn.btn-outline-white.m-0(type="text", style="background: white") 
											i.now-ui-icons.ui-1_zoom-bold
						.row
								button.btn.btn-white.col.m-0.rounded-0.bg-white.py-4(type="button") Eduardo A.
								button.btn.btn-white.col.m-0.rounded-0.bg-white.py-4(type="button") Jonathan
								button.btn.btn-white.col.m-0.rounded-0.bg-white.py-4(type="button") Francisco A.
								button.btn.btn-white.col.m-0.rounded-0.bg-white.py-4(type="button") Carlos D.
								button.btn.btn-white.col.m-0.rounded-0.bg-white.py-4(type="button") Jocelyn F.
								button.btn.btn-white.col.m-0.rounded-0.bg-white.py-4(type="button") Eduardo G.
								button.btn.btn-white.col.m-0.rounded-0.bg-white.py-4(type="button") Karla G.
								button.btn.btn-white.col.m-0.rounded-0.bg-white.py-4(type="button") Patricia A.
						.row
							.col-12.col-sm-12.col-md-3.col-lg-3.col-xl-3.py-2
								.col.mb-4
									img.rounded-circle.mx-auto.d-block(src="./images/ryan.jpg", alt="")
								.col
									span 
										b Nombre: 
										| Eduardo Arrienta López
									br
									span 
										b Unidad de negocios: 
										| Vleeko
									br
									span
										b Teléfono: 
										| 2215568020
									br
									span
										b Correo: 
										| lalo@vleeko.com
							.col-12.col-sm-12.col-md-9.col-lg-9.col-xl-9.row.p-0
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
								.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
							.col-12.text-right.mt-5
									button.btn.btn-danger.text-white(type="button",data-toggle="modal",data-target="#addprospector") Agregar